<!-- banner -->
<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="https://cdn-icons-png.flaticon.com/512/3959/3959542.png"
    alt=""
    width="72"
  />
  <h1 class="display-5 fw-bold Bold">Welcome to BlogDeck</h1>
  <div class="col-lg-6 mx-auto">
    <h6 class="lead mb-4 Sans fw-normal">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt
      autem necessitatibus, repellat eveniet similique numquam eum iure
      distinctio cum, voluptatum adipisci laborum earum rem, quis rerum animi
      omnis perferendis?
    </h6>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" href="/blogs" class="btn btn-primary btn-lg px-4 gap-3">
        See All Blogs
      </a>
      <a type="button" href="/blog/create" class="btn btn-outline-secondary btn-lg px-4">
        Publish Your Blog
      </a>
    </div>
  </div>
</div>