    <!-- banner -->
    <div class="container text-center my-5 pt-5">
      <div class="row">
        <div class="col-md-6 Sans">
          <h1 class="p-md-2 alert alert-primary fw-lighter Bold">{{title}}</h1>
          <p class="fw-normal text-muted">{{content}}</p>
          <hr />
          <p class="fw-bold text-muted">Published On Nov 12.</p>
        </div>
        <div class="col-md-6">
        <img class="rounded-1" src="https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg" width="100%" alt="">
        </div>
      </div>
    </div>
